@import "modules/_variables";

header{
  height: 3rem;
  line-height: 3rem;
  position:fixed;
  z-index: 11;
  // border: 1px solid white;//roboczo
  width: 100vw;


  li {
    display: inline-block;
    float: left;
    a {
      color: white;
      padding-right: 0.5rem;
      font-size: $nav-size;
    }
  }

  .logo {
    color: white;
    float: right;
    // position:relative;
    // z-index: 2;
  }
}

//background menu
.is-showing {
  background: rgba(251, 235, 104, 0.6);
}

//links 'a' color
.color-change {
  color: rgba(0, 0, 0, 0.8);
}
