@import "modules/_variables";

header{
  line-height: 4rem;
  position:fixed;
  z-index: 11;
  width: 100vw;
  -webkit-transition: background-color 0.7s ease;
  -moz-transition: background-color 0.7s ease;
  -o-transition: background-color 0.7s ease;
  transition: background-color 0.7s ease;
  background: transparent;


  li {
    display: inline-block;
    float: left;
    a {
      -webkit-transition: color 0.7s ease;
      -moz-transition: color 0.7s ease;
      -o-transition: color 0.7s ease;
      transition: color 0.7s ease;
      color: white;
      padding-right: 0.5rem;
      font-size: $nav-size;
      text-decoration: none;
      &:hover {
        text-decoration: line-through;
      }
    }
  }

  .logo {
    color: white;
    float: right;
  }
}

//background menu
.is-showing {
  background: rgba(255, 255, 255, 0.6);
}

//links 'a' color
.color-change {
  color: rgba(0, 0, 0, 0.7);

  &:hover {
    color: rgba(0, 0, 0, 1);
  }
}
