@import "modules/_variables";
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  // border: 1px solid red; //roboczo

  .row{
    // border: 1px solid red;
    &::before,
    &::after{
      @extend %clearfix;
    }

    [class*=col-]{
      float: left;
      min-height: 1px;
      width: 100%;
    }

    @media (min-width: 500px) {
       @for $i from 1 through 2 {
        .col-#{$i} {
          width: (100% / 2) * $i;
        }
      }
    }
  }
}
