%clearfix{
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  content: "";
}


//header
$nav-size: 22px;
$text-header: white;
$textColorheader: white;
$main-color: white;

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

///////main//////
//section home
$h1-size: 5.0vh;
$cucumber: #fbeb68;


//section adventures
$paragraph-size: 1rem;
$h1-adventures: 1.5rem;
