%clearfix{
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  content: "";
}


//header
$nav-size: 18px;
$text-header: white;
$textColorheader: white;
$main-color: white;

///////main//////
//home
$h1-size: 5.0vh;
$cucumber: #fbeb68;
